@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 버튼 예시 */
.btn-download::before{
    content: "⬇";
    color: brown;
    margin-right: 5px;
}
.btn-download{
    padding: 10px 20px;
    background-color: antiquewhite;
    color: rgb(140,178,211);
    border: none;
    border-radius: 5px;
}
.btn-download::after{
    content: "⬇";
    color: brown;
    margin-left: 10px;
}
/*말풍선 꼬리 만들기*/
.tooltip{
    position: relative;
    width: 100px;
    background-color: #333;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
.tooltip::after{
    content: "";
    position: absolute;
    top: 85%;
    left: 50px;
   /* border: 5px solid red;*/
    border: 15px solid transparent;
    border-top-color: #333;
}
p{
    display: inline-block;
    border: 10px solid #333;
    border-top-color: red;
}
/* 구분선 텍스트 */
.divider{
    text-align: center;
    background-color: antiquewhite;
}
.divider::before , .divider::after{
    content: "";
    display: inline-block;
    width: 10%;
    height: 1px;
    background-color: #ccc;
    vertical-align: middle;
}
.divider::before{
    margin-right: 10px;
}
.divider::after{
    margin-left: 10px;
}
/* 메뉴 구분선 ㅣ */
.menu{
    background-color: aliceblue;
    display: flex;
}
.menu a{
    position: relative;
    color: #333;
    padding: 0 10px;
    text-decoration: none;
    background-color: aquamarine;
}
.menu a::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: inline-block;
    width: 1px;
}